@font-face {
  font-family: 'fsex300';
  src: url('fsex300-webfont.eot');
  src: url('fsex300-webfont.eot?#iefix') format('embedded-opentype'), url('fsex300-webfont.woff') format('woff'), url('fsex300-webfont.ttf') format('truetype'), url('fsex300-webfont.svg#fsex300-webfont') format('svg');
}


/*LAYOUT*/

body, textarea, input {
  background: black url(scan_lines.png) repeat;
  color: rgb(140, 250, 120);
  font-family: consolas, mono-spaced;
  font-family: 'fsex300', consolas, monospace;
  font-size: 30px;
  margin: 0 0 -20px 0;
  padding: 0;
  height: calc( 100vh - 20px);
  overflow-x: hidden;
  box-shadow: 1px 1px 40px rgba(100, 250, 110, 0.8) inset;
}

.fullWidthWrapper {
  background: rgba(1, 1, 1, 0.93);
  height: 100%;
  width: calc(100vw - 20px);
  position: relative;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

article {
  margin-left: auto;
  display: inline-block;
  width: 500px;
}

.responseWrapper {
  width: 100%;
  position: relative;
  text-align: left;
}


/*CONSOLE TYPING AREA */

::selection {
  background-color: rgba(0, 255, 0, 0.5);
  color: black;
}

#keypressArea, #keypressArea:focus, #keypressArea:active {
  outline: none;
  border: none;
  cursor: blink;
  cursor: text;
}


/*CRT TEXT AREA*/

.crt1 {
  -webkit-animation-name: animateColorAndBiggerHeight;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  /*last keyframe stays after finished animation*/
  -webkit-animation-iteration-count: infinite;
}

.crt2 {
  -webkit-animation-name: animateSmallerHeight;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  /*last keyframe stays after finished animation*/
  -webkit-animation-iteration-count: infinite;
}

.crt3 {
  -webkit-animation-name: animateFontWeight;
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  /*last keyframe stays after finished animation*/
  -webkit-animation-iteration-count: infinite;
}

.typewriterWrapper {
  -webkit-animation-name: wobbleShadow;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  /*last keyframe stays after finished animation*/
  -webkit-animation-iteration-count: infinite;
}


/*TEXT ANIMATIONS */

@-webkit-keyframes animateFontWeight {
  30% {
    font-weight: bold%;
  }
  60% {
    font-weight: light%;
  }
  90% {
    font-weight: normal%;
  }
}

@-webkit-keyframes animateColorAndBiggerHeight {
  30% {
    font-size: 101%;
  }
  75% {
    font-size: 99%;
  }
}

@-webkit-keyframes wobbleShadow {
  20% {
    text-shadow: 1px 1px 5px 20px green;
  }
  55% {
    text-shadow: 1px 2px 15px green;
  }
  75% {
    text-shadow: 1px 2px 55px green;
  }
}

@-webkit-keyframes animateSmallerHeight {
  30% {
    font-size: 100%;
    text-shadow: 1px 1px 5px green;
  }
  65% {
    font-size: 100%;
    text-shadow: 1px 2px 11px green;
  }
  75% {
    font-size: 100%;
    text-shadow: 1px 2px 15px green;
  }
}


/*AUTOMATIC TYPEWRITER */

.typewriter {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: left;
  animation: animateWidth 4s steps(60, end);
}

@keyframes animateWidth {
  from {
    width: 0;
  }
}

.cursor {
  -webkit-animation-name: cursorFlash;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  /*last keyframe stays after finished animation*/
  -webkit-animation-iteration-count: infinite;
  position: absolute;
  left: -20px;
  bottom: 0;
}

@-webkit-keyframes cursorFlash {
  50% {
    opacity: 0;
  }
}